*:focus {
    outline: 0;
}

.error {
    color: red;
    font-style: italic;
    display: block;
}

textarea {
    margin: 5px 0;
    display: block;
}

.plan {
    width: 400px;
}

.plan-row {
    display: block;
    padding: 3px 0;
    height: 30px;
    border-bottom: 1px solid grey;
}

.plan-col {
    position: relative;
    width: 100px;
    display: inline-block;
    padding: 0 5px;
}

button.plan-col {
    margin: 1px 0 0 0;
    padding: 3px;
    background: #5050FF;
    color: #fff;
    box-shadow: 0px 3px #1D1DFF;
}

button.plan-col:active {
    padding: 3px;
    top: 3px;
    background: #1D1DFF;
    box-shadow: 0px 0px;
}

button {
    border: none;
    font-family: inherit;
    font-size: inherit;
    cursor: pointer;
    display: inline-block;
    margin: 5px 15px;
    letter-spacing: 1px;
    position: relative;
}
