<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Vue Tutorial</title>
    <meta name="description" content="A quick rundown of what Vue can do">
    <meta name="cnorris" content="">

    <link rel="stylesheet" href="css/styles.css?v=1.0">

    <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

    <div id="app">
        <tasks :list="tasks"></tasks>
        <tasks :list=""></tasks>
        <tasks :list="[{body: 'Pet the dog', completed: false}]"></tasks>
    </div>

    <template id="tasks-template">
        <h1>Tasks <span v-show="remaining">({{ remaining }})</span></h1>
        <ul v-show="list.length">
            <li v-for="task in list" 
                @click="task.completed = !task.completed">
            <div :class="{ 'completed' : task.completed }">{{ task.body }}</div>
            <strong @click="deleteTask(task)">X</strong>
            </li>
        </ul>
        <p v-else> No tasks remaining</p>
        <button @click="clearCompleted">Clear All Complated</button>
    </template>

    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/marked.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
