<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Vue Tutorial</title>
    <meta name="description" content="A quick rundown of what Vue can do">
    <meta name="cnorris" content="">

    <link rel="stylesheet" href="css/styles.css?v=1.0">

    <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

    <div id="app">
        <tasks :list="tasks"></tasks>
        <tasks :list="[{body: 'Pet the dog', completed: false}]"></tasks>
    </div>

    <template id="tasks-template">
        <ul>
            <li :class="{ 'completed' : task.completed }" 
                v-for="task in list" 
                @click="task.completed = !task.completed">
            {{ task.body }}
            </li>
        </ul>
    </template>

    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/marked.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
