<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Vue Tutorial</title>
    <meta name="description" content="A quick rundown of what Vue can do">
    <meta name="cnorris" content="">

    <link rel="stylesheet" href="css/styles.css?v=1.0">

    <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

    <div id="app">
        <div v-for='plan in plans' class="plan">
            <plan :plan="plan" :active.sync="active" inline-template>
                <div class="plan-row">
                    <span class="plan-col">{{ plan.name }}</span>
                    <span class="plan-col">{{ plan.price }}/month</span>
                    <button class="plan-col" @click='setActivePlan' v-show="plan.name!==active.name">{{ isUpgrade ? 'Upgrade' : 'Downgrade' }}</button>
                    <span v-else>Current</span>
                </div>
            </plan>
        </div>
    </div>

    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/marked.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
