<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Vue Tutorial</title>
    <meta name="description" content="A quick rundown of what Vue can do">
    <meta name="cnorris" content="">

    <link rel="stylesheet" href="css/styles.css?v=1.0">

    <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

    <div id="app">
        <!-- @ replaces v-on: thus this could be written v-on:submit.prevent -->
        <!-- additionally, .prevent equates to e.preventDefault -->
        <form action="done.html" @submit.prevent="handleIt">
            <button type="submit">
                Submit Me
            </button>

        </form>
        <!-- inline method -->
        <button type="submit" @click="count += 1;">
            Count {{ count }}
        </button>
    </div>

    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/marked.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
