<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>Vue Tutorial</title>
    <meta name="description" content="A quick rundown of what Vue can do">
    <meta name="cnorris" content="">

    <link rel="stylesheet" href="css/styles.css?v=1.0">

    <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>

<body>

    <div id="app">
        <h1>Skill: {{ skill }}</h1>
        <input type="text" v-model="points">
        <h1>Full: {{ first }} {{ last }}</h1>
        <h1>Full: {{ first + " " + last }}</h1>
        <h1>Full: {{ fullname }}</h1>
        <input type="text" v-model="first">
        <input type="text" v-model="last">
    </div>

    <script type="text/javascript" src="js/vue.js"></script>
    <script type="text/javascript" src="js/marked.js"></script>
    <script src="js/app.js"></script>
</body>

</html>
