.error {
    color: red;
    font-style: italic;
    display: block;
}

textarea {
    margin: 5px 0;
    display: block;
}

button {
    display: block;
    border-radius: 3px;
    border: 0;
    padding: 6px;
}
